<%= link_to "Rides", '/rides' %>
<%= link_to "Amusement Parks", '/amusement_parks' %>
<h1>All Amusement Parks</h1>

<% @amusement_parks.each do |amusement_park|%>
  <h3><%= amusement_park.name %>
  <%= amusement_park.created_at %></h3>
<% end %>
